<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="pt.iscte.dcti.aguiaj.easyproject"
            targetID="org.eclipse.jdt.ui.PackageExplorer">
         <action
               class="pt.iscte.dcti.aguiaj.CreateNewFolder"
               icon="images/newfolder.gif"
               id="AguiaJ.action4"
               label="Create New Folder"
               style="push"
               toolbarPath="creates">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.core.IJavaProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.core.IPackageFragment">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="pt.iscte.dcti.aguiaj.CreateNewFile"
               icon="images/newfile.gif"
               id="AguiaJ.action3"
               label="Create New File"
               style="push"
               toolbarPath="creates">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.core.IJavaProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.core.IPackageFragment">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="pt.iscte.dcti.aguiaj.CreateNewJavaProject"
               icon="images/newproj.gif"
               id="AguiaJ.action2"
               label="Create Project"
               style="push"
               toolbarPath="creates">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="pt.iscte.dcti.aguiaj.editor.SimpleJavaEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="java"
            icon="images/javafile.gif"
            id="pt.org.aguiaj.eclipse.editors.AguiaJJavaEditor"
            name="Simple Java editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pt.iscte.dcti.aguiaj.AguiaJJavaPerspective"
            id="pt.iscte.dcti.aguiaj.javaperspective"
            name="Java">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            description=",META-INF,build.properties,JRE*"
            enabled="true"
            id="pt.iscte.dcti.filter1"
            name="Plug-in folder"
            pattern="Plug-in*">
      </filter>
      <filter
            enabled="true"
            id="pt.iscte.dcti.filter2"
            name="META-INF folder"
            pattern="META-INF">
      </filter>
      <filter
            enabled="true"
            id="pt.iscte.dcti.filter3"
            name="build.properties file"
            pattern="build.properties">
      </filter>
      <filter
            enabled="true"
            id="pt.iscte.dcti.filter4"
            name="JRE libs folder"
            pattern="JRE*">
      </filter>
   </extension>

</plugin>
