<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Playing Cards"
         point="pt.org.aguiaj.objectWidgets">         
      <group
            id="Playing Cards">
         <class
               allowImport="true"
               id="aguiaj.cards.Rank">
         </class>
         <class
               allowImport="true"
               id="aguiaj.cards.Suit"
               viewClass="aguiaj.cards.view.SuitWidget">
         </class>
         <class
               allowImport="true"
               contractValidator="aguiaj.cards.CardContract"
               icon="images/card.png"
               id="aguiaj.cards.ICard"
               viewClass="aguiaj.cards.view.CardWidget">
         </class>
         <class
               allowImport="true"
               id="aguiaj.cards.CardStack"
               viewClass="aguiaj.cards.view.CardStackWidget">
         </class>
         <class
               allowImport="true"
               id="aguiaj.cards.CardHand"
               viewClass="aguiaj.cards.view.CardHandWidget"/>
      </group>
   </extension>

</plugin>
