<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Images"
         point="pt.org.aguiaj.objectWidgets">         
      <group
            id="Image">
         <class
               allowImport="true"
               icon="images/photoicon.png"
               id="aguiaj.images.Image"
               viewClass="aguiaj.images.view.ImageWidget">
         </class>
         <class
               allowImport="true"
               id="aguiaj.images.BinaryImage">
         </class>
         <class
               allowImport="true"
               id="aguiaj.images.GrayscaleImage">
         </class>
         <class
               allowImport="true"
               id="aguiaj.images.ColorImage">
         </class>
         <class
               allowImport="false"
               id="aguiaj.images.ImageUtils">
         </class>
      </group>
      <group
            id="Icons">
         <class
               allowImport="true"
               id="aguiaj.icons.CharacterIcon">
         </class>
         <class
               allowImport="true"
               id="aguiaj.icons.ChessPiece">
         </class>
         <class
               allowImport="true"
               id="aguiaj.icons.DigitIcon">
         </class>
         <class
               allowImport="true"
               id="aguiaj.icons.LetterIcon">
         </class>
      </group>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="AguiaJColorsAndImages"
            targetID="pt.org.aguiaj.objectsView">
         <action
               class="aguiaj.images.contribution.ImportImageAction"
               icon="images/image_obj.gif"
               id="AguiaJColorAndImagesPlugin.action1"
               label="Import image"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>

</plugin>
