<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <view
            category="pt.org.aguiaj.viewCategory"
            class="pt.iscte.dcti.expressionsview.ExpressionsView"
            icon="icons/watch_exp.gif"
            id="pt.org.aguiaj.expressionsview"
            name="Function test"
            restorable="true">
      </view>
   </extension>
   
   <extension
      id="functionBuilder" name="Function Test Builder" point="org.eclipse.core.resources.builders">
      
      <builder hasNature="true">
         <run class="pt.iscte.dcti.expressionsview.Builder">
         </run>
      </builder>
   </extension>
   
   <extension
         id="functionTestNature"
         name="Function Test Nature"
         point="org.eclipse.core.resources.natures">
      
      <runtime>
         <run class="pt.iscte.dcti.expressionsview.FunctionTestNature">
         	<parameter name="installBuilder" value="true"/>
         </run>
      </runtime>
      <builder
            id="pt.iscte.dcti.expressionsview.functionBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="pt.org.aguiaj.expressionsview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pt.iscte.dcti.expressionsview.AddLineCommand"
            id="pt.iscte.dcti.expressionsview.addline"
            name="Add line">
      </command>
      <command
            defaultHandler="pt.iscte.dcti.expressionsview.RemoveLineCommand"
            id="pt.iscte.dcti.expressionsview.deleteline"
            name="Delete line">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:pt.org.aguiaj.expressionsview">
         <command
               commandId="pt.iscte.dcti.expressionsview.addline"
               icon="icons/add.gif"
               label="Add line"
               style="push">
         </command>
         <command
               commandId="pt.iscte.dcti.expressionsview.deleteline"
               icon="icons/delete.gif"
               label="Delete line"
               style="push">
         </command>
      </menuContribution>
   </extension>
 
</plugin>
