<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="objectWidgets" name="Object Widgets" schema="schema/objectWidgets.exsd"/>
   <extension-point id="accessorDetectionPolicies" name="Accessor Detection Policies" schema="schema/accessorDetectionPolicies.exsd"/>
   <extension-point id="languages" name="Languages" schema="schema/languages.exsd"/>
   <extension-point id="importItem" name="Import Item" schema="schema/importItem.exsd"/>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pt.org.aguiaj.core.AguiaJPerspective"
            icon="images/eagle-icon-16.png"
            id="pt.org.aguiaj.perspective"
            name="AGUIA/J">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="pt.org.aguiaj.viewCategory"
            class="pt.org.aguiaj.objects.ObjectsView"
            icon="images/elements_obj.gif"
            id="pt.org.aguiaj.objectsView"
            name="Objects"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="pt.org.aguiaj.viewCategory"
            class="pt.org.aguiaj.classes.ClassesView"
            icon="images/classes.gif"
            id="pt.org.aguiaj.classesView"
            name="Classes"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="pt.org.aguiaj.viewCategory"
            class="pt.org.aguiaj.core.commands.JavaBarView"
            icon="images/java.gif"
            id="pt.org.aguiaj.javabarView"
            name="Java Bar"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="pt.org.aguiaj.viewCategory"
            class="pt.org.aguiaj.core.commands.HistoryView"
            icon="images/history_view.gif"
            id="pt.org.aguiaj.historyView"
            name="History"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="pt.org.aguiaj.viewCategory"
            class="pt.org.aguiaj.core.documentation.DocumentationView"
            icon="images/javadoc.gif"
            id="pt.org.aguiaj.documentationView"
            name="Documentation"
            restorable="true">
      </view>
      <category
            id="pt.org.aguiaj.viewCategory"
            name="AGUIA/J">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pt.org.aguiaj.core.commands.ReloadClassesCommand"
            id="AguiaJ.reloadcommand"
            name="Reload classes">
      </command>d>
      <command
            defaultHandler="pt.org.aguiaj.core.commands.HistoryView$Open"
            id="AguiaJ.openHistory"
            name="Open History view">
      </command>
      <command
            defaultHandler="pt.org.aguiaj.core.documentation.DocumentationView$Open"
            id="AguiaJ.openDocumentation"
            name="Open Documentation view">
      </command>
      <command
            defaultHandler="pt.org.aguiaj.core.commands.OpenFeedbackForm"
            id="AguiaJ.feedbackForm"
            name="Open feedback form">
      </command>
      <command
            defaultHandler="pt.org.aguiaj.core.AguiaJPreferencePage$Open"
            id="AguiaJ.openPreferences"
            name="Open preferences">
      </command>
      <command
            defaultHandler="pt.org.aguiaj.core.commands.CopyObjectImageCommand"
            id="pt.org.aguiaj.copyimage"
            name="Copy object image">
      </command>
      <command
            defaultHandler="pt.org.aguiaj.core.commands.JavaBarView$Open"
            id="AguiaJ.openJavaBar"
            name="Open Java Bar">
      </command>
      <command
            defaultHandler="pt.org.aguiaj.core.commands.ImportItemCommand"
            id="pt.org.aguiaj.importitem"
            name="Import item">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="pt.org.aguiaj.copyimage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="pt.org.aguiaj.core.AguiaJPreferencePage"
            id="pt.org.aguiaj.preferences"
            name="AGUIA/J">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pt.org.aguiaj.core.AguiaJPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="pt.org.aguiaj.accessorDetectionPolicies">
      <policy
            description="Prefixes get* to*, and is* for boolean return types"
            id="pt.org.aguiaj.standard.GetIsAccessorPolicy">
      </policy>
      <policy
            description="No accessor methods are detected"
            id="pt.org.aguiaj.standard.NoAccessorMethodsPolicy">
      </policy>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="AguiaJ.menu"
               label="AGUIA/J">
            <command
                  commandId="AguiaJ.feedbackForm"
                  icon="images/mail.gif"
                  label="Open feedback form..."
                  style="push">
            </command>
            <command
                  commandId="AguiaJ.openPreferences"
                  icon="images/props.gif"
                  label="Open preferences"
                  style="push">
            </command>
            <command
                  commandId="AguiaJ.openJavaBar"
                  icon="images/java.gif"
                  label="Show Java Bar"
                  style="push">
            </command>
            <command
                  commandId="AguiaJ.openHistory"
                  icon="images/history_view.gif"
                  label="Show History view"
                  style="push">
            </command>
            <command
                  commandId="AguiaJ.openDocumentation"
                  icon="images/javadoc.gif"
                  label="Show Documentation view"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:pt.org.aguiaj.objectsView">
         <command
               commandId="pt.org.aguiaj.importitem"
               icon="images/import_wiz.gif"
               label="Import item"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         name="Standard types"
         point="pt.org.aguiaj.objectWidgets">
      <group
            id="java.lang">
         <class
               allowImport="false"
               id="java.lang.Integer">
         </class>
         <class
               allowImport="false"
               id="java.lang.Character">
         </class>
         <class
               allowImport="false"
               id="java.lang.Double">
         </class>
         <class
               allowImport="false"
               id="java.lang.Boolean">
         </class>
         <class
               allowImport="false"
               id="java.lang.Enum">
            <excludeFilter>
               <method
                     id="ordinal">
               </method>
               <method
                     id="getDeclaringClass">
               </method>
               <method
                     id="hashCode">
               </method>
            </excludeFilter>
            <promoteToAccessor>
               <method
                     id="name">
               </method>
            </promoteToAccessor>
         </class>
         <class
               allowImport="false"
               id="java.lang.String">
            <promoteToAccessor>
               <method
                     id="length">
               </method>
            </promoteToAccessor>
            <includeFilter>
               <method
                     id="substring">
               </method>
               <method
                     id="trim">
               </method>
               <method
                     id="charAt">
               </method>
               <method
                     id="concat">
               </method>
               <method
                     id="compareTo">
               </method>
               <method
                     id="toCharArray">
               </method>
               <method
                     id="equals">
               </method>
               <method
                     id="isEmpty">
               </method>
            </includeFilter>
         </class>
         <class
               allowImport="false"
               id="java.lang.Math">
         </class>
         <class
               allowImport="false"
               id="java.util.Random">
         </class>
         <class
               allowImport="false"
               contractProxy="pt.org.aguiaj.standard.extensions.ObjectContract"
               id="java.lang.Object"
               viewClass="pt.org.aguiaj.standard.extensions.ObjectToStringWidget">
         </class>
      </group>
   </extension>

</plugin>
