<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="pt.org.aguiaj.viewCategory"
            class="pt.iscte.dcti.expressionsview.ExpressionsView"
            icon="icons/watch_exp.gif"
            id="pt.org.aguiaj.expressionsview"
            name="Function test"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="pt.org.aguiaj.expressionsview"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
      id="sampleBuilder" name="Sample Project Builder" point="org.eclipse.core.resources.builders">
      <builder>
         <run 
            class="pt.iscte.dcti.expressionsview.Builder">
            <parameter name="optimize" value="true" />
            <parameter name="comment" value="Builder comment" />
         </run>
      </builder>
   </extension>
   
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="pt.iscte.dcti.expressionsview.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="pt.org.aguiaj.expressionsview.sampleBuilder">
      </builder>
   </extension>
   
 
</plugin>
