<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pt.org.aguiaj.objectWidgets">
      <group
            id="Image examples">
         <class
               allowImport="true"
               id="aguiaj.draw.examples.Color">
         </class>
         <class
               allowImport="true"
               id="aguiaj.draw.examples.BinaryImage">
         </class>
         <class
               allowImport="true"
               id="aguiaj.draw.examples.GrayscaleImage">
         </class>
         <class
               allowImport="true"
               id="aguiaj.draw.examples.Graytone">
         </class>
      </group>
   </extension>

</plugin>
