<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Grid"
         point="pt.org.aguiaj.objectWidgets">         
      <group
            id="Grid">
         <class
               allowImport="true"
               contractProxy="aguiaj.draw.contracts.GridContract"
               icon="images/grid.png"
               id="aguiaj.draw.Grid"
               viewClass="aguiaj.draw.view.GridWidget">
         </class>
         <class
               allowImport="true"
               id="aguiaj.draw.TwoDimensional"
               viewClass="aguiaj.draw.view.TwoDimensionalWidget">
         </class>
         <class
               allowImport="true"
               contractProxy="aguiaj.draw.contracts.ImageContract"
               id="aguiaj.draw.Image"
               viewClass="aguiaj.draw.view.ImageWidget">
         </class>
         <class
               allowImport="true"
               contractProxy="aguiaj.draw.contracts.ColorContract"
               id="aguiaj.draw.Color"
               viewClass="aguiaj.draw.view.ColorWidget">
         </class>
         <class
               allowImport="true"
               contractProxy="aguiaj.draw.contracts.TransparentImageContract"
               id="aguiaj.draw.ImageWithTransparency">
         </class>
         <class
               allowImport="true"
               id="aguiaj.draw.GrayscaleImage">
         </class>
         <class
               allowImport="true"
               id="aguiaj.draw.GrayTone">
         </class>
         <class
               allowImport="true"
               id="aguiaj.draw.Dimension">
         </class>
         <class
               allowImport="true"
               id="aguiaj.draw.ConstantDimension">
         </class>
      </group>
      <group
            id="Data Structures">
         <class
               allowImport="true"
               contractProxy="aguiaj.adt.StackContract"
               id="aguiaj.adt.Stack">
         </class>
         <class
               allowImport="true"
               contractProxy="aguiaj.adt.CollectionContract"
               id="aguiaj.adt.Collection">
         </class>
         <class
               allowImport="true"
               contractProxy="aguiaj.java.ObjectContract"
               id="java.lang.Object">
         </class>
      </group>
   </extension>

</plugin>
