<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Standard"
         point="pt.org.aguiaj.objectWidgets">         
      <group
            id="Draw">
         <class
               allowImport="true"
               contractValidator="aguiaj.draw.contracts.GridContract"
               icon="images/grid.png"
               id="aguiaj.draw.IGrid"
               viewClass="aguiaj.draw.view.GridWidget">
         </class>
         <class
               allowImport="true"
               contractValidator="aguiaj.draw.contracts.ImageContract"
               icon="images/image.png"
               id="aguiaj.draw.IImage"
               viewClass="aguiaj.draw.view.ImageWidget">
         </class>
         <class
               allowImport="true"
               contractValidator="aguiaj.draw.contracts.ColorContract"
               icon="images/color.png"
               id="aguiaj.draw.IColor"
               viewClass="aguiaj.draw.view.RGBColorWidget">
            <includeFilter>
               <method
                     id="getR">
               </method>
               <method
                     id="getG">
               </method>
               <method
                     id="getB">
               </method>
            </includeFilter>
         </class>
         <class
               allowImport="true"
               contractValidator="aguiaj.draw.contracts.TransparentImageContract"
               id="aguiaj.draw.ITransparentImage">
         </class>
         <class
               allowImport="true"
               contractValidator="aguiaj.draw.contracts.DimensionContract"
               id="aguiaj.draw.IDimension">
         </class>
      </group>
   </extension>

</plugin>
