<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Standard"
         point="pt.org.aguiaj.objectWidgets">         
      <group
            id="Draw">
         <class
               allowImport="true"
               contractProxy="aguiaj.draw.contracts.GridContract"
               icon="images/grid.png"
               id="aguiaj.draw.Grid"
               viewClass="aguiaj.draw.view.GridWidget">
         </class>
         <class
               allowImport="true"
               contractProxy="aguiaj.draw.contracts.ImageContract"
               id="aguiaj.draw.Image"
               viewClass="aguiaj.draw.view.ImageWidget">
         </class>
         <class
               allowImport="true"
               contractProxy="aguiaj.draw.contracts.ColorContract"
               id="aguiaj.draw.RGBColor"
               viewClass="aguiaj.draw.view.ColorWidget">
         </class>
         <class
               allowImport="true"
               contractProxy="aguiaj.draw.contracts.TransparentImageContract"
               id="aguiaj.draw.TransparentImage">
         </class>
         <class
               allowImport="true"
               id="aguiaj.draw.Dimension">
         </class>
      </group>
   </extension>

</plugin>
