<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pt.org.aguiaj.objectWidgets">
      <group
            id="Abstract Data Types">
         <class
               allowImport="true"
               contractProxy="aguiaj.adt.StackContract"
               id="aguiaj.adt.Stack">
         </class>
         <class
               allowImport="true"
               contractProxy="aguiaj.adt.CollectionContract"
               id="aguiaj.adt.Collection">
         </class>
      </group>
   </extension>

</plugin>
